@tailwind base;
@layer base{
    @font-face {
        font-family: IRANSans;
        font-weight: 300;
        font-style: normal;
        src: url('../public/fonts/Sansa4fran3.woff') format('woff'),
        url('../public/fonts/Sansa4fran3.ttf') format('truetype');
        src: url('../public/fonts/Sansa4fran3.eot');
    }
}

@tailwind components;
@layer components{
    .title-color {
       @apply text-gray-700;   
    } 
    .border-style{
        @apply border-gray-300;
    }
    .flex-center{
        @apply flex items-center justify-center;
    }
    .custom-transition{
        @apply transition-all duration-300 ease-in;
    }
}

@tailwind utilities;


/* Iran sanse */
body{
    @apply font-body;
}
/* x-cloak */
[x-cloak] { display: none; }
/* top swiper button */
.top_swiper_container .top_swiper_next, .top_swiper_container .top_swiper_prev{
    @apply bg-white rounded-2xl w-9 h-16 hidden lg:flex bg-opacity-50 backdrop-blur-sm border border-gray-300;
}
.top_swiper_container .top_swiper_next{
    @apply -right-3;
}
.top_swiper_container .top_swiper_next::after, .top_swiper_container .top_swiper_prev::after{
    @apply text-xs font-bold text-gray-800;
}
.top_swiper_container .top_swiper_prev{
    @apply -left-3;
}
/* mini swiper button */
.mini_swiper_cotainer .swiper_mini_next, .mini_swiper_cotainer .swiper_mini_prev{
    @apply bg-gray-400 rounded-2xl w-6 h-10 hidden lg:flex bg-opacity-50 backdrop-blur-sm border border-gray-300;
}
.mini_swiper_cotainer .swiper_mini_next{
    @apply right-5;
}
.mini_swiper_cotainer .swiper_mini_prev{
    @apply left-5;
}
.mini_swiper_cotainer .swiper_mini_prev::after, .mini_swiper_cotainer .swiper_mini_next::after{
    @apply text-xs text-gray-800 font-bold
}

/* debugs */
.swiper-slider .suggested_musics{
    @apply py-4;
}
.swiper-slider .suggested_musics .swiper-wrapper .swiper-slide{
    @apply w-80;
}